name: Frontend Continuous Integration

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
env:
  REACT_APP_MOVIE_API_URL: http://localhost:5000

jobs:
  lint:
    name: Lint 
    runs-on: ubuntu-latest
    environment:
      name: staging  
    defaults: 
      run: 
        working-directory: starter/frontend

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache Nodejs dependencies 
        uses: actions/cache@v3 
        with: 
          path: | 
            ~/.npm 
            node_modules 
          key: node-${{ hashFiles('**/package-lock.json') }} 
          restore-keys: | 
            node-

      - name: Install frontend dependencies
        run: npm install             

      - name: Install Dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    defaults: 
      run: 
        working-directory: starter/frontend

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache Nodejs dependencies 
        uses: actions/cache@v3 
        with: 
          path: | 
            ~/.npm 
            node_modules 
          key: node-${{ hashFiles('**/package-lock.json') }} 
          restore-keys: | 
            node-

      - name: Install frontend dependencies
        run: npm install 

      - name: Install Dependencies
        run: npm ci

      - name: Run Test
        run: npm test


  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    defaults: 
      run: 
        working-directory: starter/frontend

    steps:
      - name: Check the Repository
        uses: actions/checkout@v4
    
      - name: Use Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache Nodejs dependencies 
        uses: actions/cache@v3 
        with: 
          path: | 
            ~/.npm 
            node_modules 
          key: node-${{ hashFiles('**/package-lock.json') }} 
          restore-keys: | 
            node-

      - name: Install frontend dependencies
        run: npm install               
    
      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Building frontend App
        run: docker build --build-arg=REACT_APP_MOVIE_API_URL=${{ env.REACT_APP_MOVIE_API_URL }} --tag=mp-frontend::${{ github.sha }} .
